<h2 mat-dialog-title>Add A New Speaker</h2>

<form class="speaker-form">
  <table class="speaker-field-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="speaker-field-width">
          <input matInput placeholder="First name" [(ngModel)]="speaker.name.first" name="firstname">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="speaker-field-width">
          <input matInput placeholder="Last name" [(ngModel)]="speaker.name.last" name="lastname">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="speaker-field-width">
      <textarea matInput placeholder="Address" [(ngModel)]="speaker.location.street" name="address">
      </textarea>
    </mat-form-field>
  </p>

  <table class="speaker-field-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="speaker-field-width">
          <input matInput placeholder="City" [(ngModel)]="speaker.location.city" name="city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="speaker-field-width">
          <input matInput placeholder="State" [(ngModel)]="speaker.location.state" name="state">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="speaker-field-width">
          <input matInput placeholder="Phone" [(ngModel)]="speaker.phone" name="phone">
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>

<mat-dialog-actions [attr.align]="'end'">
  <button mat-button mat-dialog-close color="secondary">Close</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()">Save</button>
</mat-dialog-actions>
